body, html {
  height: 100%;
}
.navhead{
	box-shadow: 0px 0.5px 0.5px 0.5px #00000052;
}
/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loader.gif) center no-repeat #fff;
}



.content{
	 
}
.main-body{
	 
	min-height: 800px;
	padding-top: 20px;
	padding-bottom: 40px;
	background: rgb(234,88,4); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(234,88,4,1) 0%, rgba(234,40,3,1) 51%, rgba(234,88,4,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(234,88,4,1) 0%,rgba(234,40,3,1) 51%,rgba(234,88,4,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(234,88,4,1) 0%,rgba(234,40,3,1) 51%,rgba(234,88,4,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea5804', endColorstr='#ea5804',GradientType=0 ); /* IE6-9 */
	 
}
.text-menu{
	color:white;
	font-size: 1.25rem;
}
.wrap {
  
  margin-top: 50px;
  text-align: center;
  font-size: 1.75rem;
}

a.tombol-home {
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  display: inline-block;
  
  margin: 20px 20px;
  max-width: 250px;
  text-decoration: none;
  border-radius: 4px;
  padding: 20px 30px;
  background-color: #cc8944a6;

}

a.reg {
  color: rgba(30, 22, 54, 0.6);
  box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

a.reg:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 70px inset;
}

a.nonreg {
  color: rgba(30, 22, 54, 0.6);
  box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

a.nonreg:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 50px inset;
}

.box-sukses{
	padding-top: 100px;
	background: rgb(234,88,4); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(234,88,4,1) 0%, rgba(234,40,3,1) 51%, rgba(234,88,4,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(234,88,4,1) 0%,rgba(234,40,3,1) 51%,rgba(234,88,4,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(234,88,4,1) 0%,rgba(234,40,3,1) 51%,rgba(234,88,4,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea5804', endColorstr='#ea5804',GradientType=0 ); /* IE6-9 */
	min-height: 800px;
}


/* Removes the default 20px margin and creates some padding space for the indicators and controls */
 #jadwal-layanan{
 	
 	background: rgb(234,88,4); /* Old browsers */
 }
 .container-jadwal{
 	padding-top: 60px;
 	padding-left: 30px;
 	padding-right: 30px;
 	background: rgb(234,88,4); /* Old browsers */
 }
 .jadwal-title{
 	color: white;
 }
 
.senin{
	background-color: yellow;
}
.selasa{
	background-color: #e4e477;
}
.rabu{
	background-color: white;
}
.kamis{
	background-color: #efefad;
}
.jumat{
	background-color: yellow;
}
.sabtu{
	background-color: #e4e477;
}
 